<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homework Week 2</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">

  <style type="text/css">
    * {
      font-family: 'Noto Serif KR', serif;
    }

    /* Q blank lines 간격은 그대로 두고, 소제목과 본문 내용 사이에 동일한 간격을 동시에 주는 방법은? /A h1으로 동일하게 변경하고, 동시에 스타일 적용해서 해결! */
    .wrap {
      max-width:600px;
      margin: auto;
    }

    img {
      display: block;
      width: 80%;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px;
      border-style: solid;
      border-color: #d9d8d6;
      border-width: 0.5px;
    }

    /* Q 동일 Heading 내에서는 폰트 크기/스타일/색상변경 불가능한가? /A 불가능! */
    /* Q 소제목 아래쪽에 margin이나 padding을 줘도 아래 본문과 간격이 늘어나지 않는 이유는? /A 소제목 아이템명만 span에서 h1으로 바꾸고 해결!*/

    h1 {margin-bottom: 12px}  

    #itemName {
      font-size: 20pt;
      font-weight: bold;
    }

    #itemPrice {
      font-size: 13pt;
      margin: 18pt;
    }
    .productInfo {margin: 0 0 20px 0}

    .productOrderInfo {margin: 20px 0 0 0}

    #order {
      font-size: 18pt;
      font-weight: bold;
    }

    .form-group {
      margin: auto;
      padding: 6px 0 20px 0;
      max-width: 400px;
      }

    .buttonOrder {
      text-align: center;
      margin: 30px;
    }
  </style>

<!-- Idea 1. alert 띄울 때, 동일 class selector를 이용해서 최소한의 함수로 만들 수는 없을까? 리스트에 id를 넣고 하나씩 순서 돌리는 것?-->
<!-- let $("#form-control"): input value를 불러오는 기능이기 때문에 한꺼번에 모든 값을 가져오기는 불가능하고, 각 input을 각각 id로 불러야 한다. -->
<!-- Idea 2. 각 id에 적용할 alert 함수 하나씩 다 만들기 : CORRECT-->

  <script>
    function order_check(){
      let amount = $('#orderAmount').val();
      let name = $('#clientName').val();
      let contact = $('#clientContact').val();
      let address = $('#clientAddress').val();

 // return: 불필요한 다음 함수를 실행하지 않도록 걸어주는 브레이크. 데이터가 정확함을 보증하는 수단이라고 생각하자! 리턴을 안 걸었다고 실행 속도를 느리게 한다거나 하는 건 아님.
 /* Q. Dropdown list의 'value' 개념에 대해서 다시 질문하기. 
  (amount == '수량을 선택하세요') - O
  (amount == '수량을 선택하세요'), value="none" - X
  (amount == 'none'), value="none" - O
  (amount == 'none'), disabled - X
  */
      if (amount == 'none'){
        alert ('수량을 선택해 주세요!');
        $('#orderAmount').focus();
        return;
      } 

      if (name == ''){
        alert ('성함을 입력해 주세요!');
        $('#clientName').focus();
        return;
      }

      //contact_check 함수에서 처리한 변수를 넘겨줘야 하므로 ()안에 변수를 넣어 주어야 한다!
      //if (contact_check(contact) == false){}로 입력하면 check 함수 안 먹힌다. 그런데 !== 조건으로 작성하면 작동한다!
      if (contact_check(contact) == false){
        alert ('010-****-**** 형식으로 전화번호를 입력해 주세요!')
        $('#clientContact').focus();
        return;
      }

      if (address == ''){
        alert ('물건을 받으실 주소를 입력해 주세요')
        $('#clientAddress').focus();
        return;
      }

      else {
        alert ('감사합니다! 주문이 완료되었습니다:)');
        $('#orderAmount').val('none');
        $('#clientName').val('');
        $('#clientContact').val('');
        $('#clientAddress').val('');
        $('#orderAmount').focus();
      }
    
      $.ajax({
        type: "POST",
        url:"/orders",
        data: {
            orderAmount_give: orderAmount,
            clientName_give: clientName,
            clientContact_give: clientContact,
            clientAddress_give: clientAddress
        },
        success: function(response){
            if (response['result'] == 'success'){
                alert(response['msg']);
                $('#orderAmount').val('');
                $('#clientName').val('');
                $('#clientContact').val('');
                $('#clientAddress').val('');
                window.location.reload();
            }
        }
      })
    }

    // 휴대폰 번호 유효성 검사 함수
    // 정규표현식 --> 비추라고 하심. 정말 필요할 때 찾아볼 수 있도록 그냥 알아만 두기.
    function contact_check(contact){
        //검증하고자 하는 값을 잘 불러왔는지 console로 확인부터 해보자!
        console.log(contact)

        // 1. 010이 첫번째에 있나? 
        if (contact.indexOf('010-') !== 0){
          return false;
        } 
        // 2. - 포함이 되어 있나?
        if (contact.indexOf('-') == -1){
          return false;
        }
        // 3. - 두 개가 있나? contact.split('-') = ['010', '1234', '1234']
        if (contact.split('-').length !== 3){
          return false;
        }
        // 4. - 로 쪼개지는 숫자가 총 3개고, 3, 4, 4의 길이가 각각 맞나?
        for (let i = 1; i < 3; i++){
          if (contact.split('-')[i].length !== 4){
            return false;
          }
        return true;
        }
      }

      $(document).ready(function(){
          $('#orders-box'),html('');
          listing();
      });

      function listing(){
          $.ajax({
              type: "GET",
              url: "/orders",
              data: {},
              success: function(response){
                  if (response['result'] == 'success'){
                      let orders = response['orders'];
                      for (let i = 0; i < orders.length; i++){
                          make_card(orders[i][orderAmount], orders[i][clientName], orders[i],[clientContact], orders[i][clientAddress])
                      }
                  } else {
                      alert('주문정보를 불러오지 못했습니다.');
                  }
              }
          })
      }

      function make_card(orderAmount, clientName, clientContact, clientAddress){
          let temp_html = 
      }
    
  </script>
</head>

<body>
  <div class="wrap">
    <div class="productImage">
      <img src="https://i.pinimg.com/564x/71/4c/f7/714cf79acf34b7e985ec0149967573ea.jpg" alt="wooden mannequin">
    </div>

    <!-- 제목 아래에 간격을 주고 싶은데 br 안 먹히는 이유ㅠㅠ : 아마도 코딩에 오타가 있었을 것. 작동하는 것이 맞음-->
    <div class="productInfo">
      <h1 id="itemName">인테리어 목각인형 화분<span id="itemPrice">가격: 10,000원/개</span></h1>
      <p>요즘 대세 플랜테리어를 도와줄 작은 친구들을 소개합니다. 다양한 포즈가 가능한 목각인형에 작은 식물이나 꽃을 안겨 주세요. 심심한 공간에 싱그러운 분위기를 불어넣어 줄 거에요.</p>
    </div>
    <hr>
    <div class="productOrderInfo">
      <h1 id="order">주문하기</h1>
      
      <!-- Q. 수량 선택란에 placeholder 넣기 불가능?: Nope. selected(빼박캔트) & disabled(선택지로 인정 안 해줌. null value) 이용해서 대체할 수 있음. -->
      <!-- option 내의 입력값은 id가 아니라 value (jQuery에서 불러오는 그 .val) -->
        <div class="form-group">
          <label for="exampleFormControlSelect1">수량(개)</label>
          <select class="form-control" id="orderAmount">
            <option value="none" selected>수량을 선택하세요</option>
            <option value="1" >1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">주문자 성함</label>
          <input type="text" class="form-control" id="clientName">
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlInput1">연락처</label>
          <!-- input type="number"일 경우에는 dash를 읽어올 수 없어서 함수 실행이 불가하다! -->
          <input type="text" class="form-control" id="clientContact" placeholder="010-****-****">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">수령지 주소</label>
          <textarea class="form-control" id="clientAddress"></textarea>
        </div>      
    </div>

    <div class="buttonOrder">
      <button onclick="order_check()" type="button" class="btn btn-outline-success btn-lg">주문하기</button>
    </div>
  </div>
</body>

</html>